/*
** Media
*/

.media-heading,
.content-headline {
  font-family: "PT Serif", serif;

  a {
    color: #0D47A1;
  }
}

.content-headline {
  border-bottom: 1px solid #CFD8DC;
  line-height: 1.5rem;
}

.author {
  color: #767676;
  font-size: 0.9em;
}

/* Main content area */
.main {
  .content-headline {
    font-size: 1.75rem;
  }

  @media(min-width: 375px) {
    .media {
      flex-direction: column;
    }
  }

  @media(min-width: 768px) {
   .media-body p {
     display: none;
   }

    .media-object {
      width: 220px;
    }

    .media {
      flex-direction: row;
    }
  }

  @media(min-width: 1200px) {
    .media-body p {
      display: block;
    }
  }
}


/* Sidebar */
.sidebar {
  .content-headline {
    font-size: 1rem;
  }

  .media-heading {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  @media(min-width: 768px) {
    .media {
      flex-direction: column;
    }
  }

  @media(min-width: 1200px) {
    .media {
      flex-direction: row;
    }

    .media-object {
      width: 120px;
    }
  }
}